name: release
on:
  push:
    tags:
      - "v*"
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
      - run: corepack enable
      - run: pnpm i
      - run: pnpm build-addon
      - run: pnpm dlx changelogithub --assets anki-browse-web.ankiaddon
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
